{% extends 'authorize/base.html' %}

{% block content %}
<div class="box base-padding">
    <div class="box-title">
        <h1>Здравствуйте, {{ user.first_name }}!</h1>
    </div>
    <div class="box base-padding">
        <div> 
            <h3 class="mb-5">Отправить сообщение:</h3>
            {% if not user.tg_id %}
            <p class="alert alert-warning">
                Отправить сообщение возможно только после регистраций в <a href="https://t.me/factory_messenger_bot" target="_blank">телеграмм боте</a>
            </p>
            {% endif %}
            <div id="form-error"></div>
            <input type="hidden" id="userTgId" value="{{ user.tg_id }}">
            <input type="hidden" id="userUsername" value="{{ user.username }}">

            <textarea 
                id="messageText" 
                class="form-control mt-1 mb-3" 
                placeholder="Написать сообщение"
                {% if not user.tg_id %}
                disabled
                {% endif %}
            ></textarea>

            <button 
                onclick="sendMessage()" 
                class="btn btn-primary px-5"
                {% if not user.tg_id %}
                disabled
                {% endif %}
            >Отправить</button>
        </div>
    </div>
</div>
{% endblock %}