{% extends 'authorize/base.html' %}

{% block content %}
<div class="box base-padding d-flex flex-column align-items-center">
    <div class="box-title">
        <h1>{{ title }}</h1>
    </div>

    <form onsubmit="authUser(event)" class="form mt-5">
        {% csrf_token %}
        {% for field in form %}
            <fieldset class="mb-3">
                <label for="{{ field.id_for_label }}" class="mb-1">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
        {% endfor %}    
        {% if form.errors %}
        <p class="error">Неверный логин или пароль.</p>
        {% endif %}  

        <button type="submit" class="btn btn-primary mt-3 px-5 fw-bold">
            Войти
        </button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>checkUser()</script>
{% endblock %}